html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main */
body{
    background-color: #F6F8FC;
    font-family: 'Saira', sans-serif;
}

header{
    width: 100%;
    height: 54px;
    background-color: white;
}
.container{
    width: 914px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
   
}
.logo{
    padding-top: 18px;
}
.heading{
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    font-size: 32px;
    
   
}
.location{
    display: flex;
    flex-direction: row;
    column-gap: 300px;
    margin-top: 47px;
    font-size: 14px;
    font-weight: 400;
}
.local{
    display: flex;
  
}
.local img{
    margin-right: 15px;
    margin-top: -3px;
}
.calendar{
    display: flex;
    width: 147px;
}
.calendar img{
    margin-right: 15px;
    margin-top: -3px;
    height: 80%;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}
.sunsetImg{
    margin-right: 50px;
    margin-top: 49px;
}
.watch{
    margin-top: 110px;
    font-size: 55px;
}
.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
   
}
.sunrise{
    display: flex;
    margin-top: 10px;
    font-size: 54px;
}
.sunrise span{
    background-color: #9ACFFF;
    border-radius: 4px;
    
}
.sunset{
    display: flex;
    margin-top: 10px;
    font-size: 54px;
    width: 248px;

}
.sunset span{
    background-color: #9ACFFF;
    border-radius: 4px;
    
}
.value, .value2{
    display: flex;
    font-weight: 600;
}
.value p{
    margin-right: 38px;
}
.value2 p{
    margin-right: 48px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
   
}

.typing::after{
    content: '';
    background-color: black;
    height: 34px;
    width: 3px;
    position: absolute;
    animation: blink 0.5s infinite linear;
    z-index: -1;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity:100%;
    }

    
}

/* media query*/
@media (max-width: 914px) {
    .container{
        width: 638px;
    }
    
}
@media (max-width: 674px) {
    .container{
        width: 300px;;
    }
    .image{
        display: none;
      
    }
    .time{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px;
        
    }
    .rise{
        margin-bottom: 50px;;
    }
    .location{
        column-gap: 20px;;
    }
    
}
